*.yml linguist-generated=true
*.yaml linguist-generated=true
*.lock linguist-generated=true
*.sh linguist-generated=true
*.vim linguist-generated=true
Gemfile* linguist-generated=true
Rakefile linguist-generated=true
*.rb linguist-generated=true
_config.yml linguist-generated=true

*.ipynb linguist-language=Jupyter Notebook

*.csv linguist-generated=true
*.xlsx linguist-generated=true
*.json linguist-generated=true

node_modules/** linguist-vendored=true
.github/** linguist-vendored=true
